.about {
    display: block;
    padding: 0 20px;
}

.about-title {
    text-align: center;
    font-family: 'Arvo', serif;
    color: #2F2F2D;
    font-size: 30px;
    margin-top: 40px;
}

.about-info {
    font-size: 14px;
}

.about-info:nth-last-child(1) {
    margin-bottom: 50px;
}

.about-image img {
    width: 100%;
}

.references-container {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    letter-spacing: 0;
}

.references-title {
    font-family: 'Arvo', serif;
}

.reference-info {
    font-weight: 600;
    line-height: 100%;
}

/*Medium Styles*/

@media screen and (min-width: 35.5em) {

    .about{
        padding: 60px 40px 40px 40px;
        
    }

    .about-image{
        box-sizing: border-box;
        padding-right: 40px;
        margin-bottom: 40px;
    }

    .about-title{
        text-align: left;
        margin-top: 0;
    }

    .references-title {
        min-height: 52px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .references {
        text-align: center;
        padding: 0 55px;
    }

    .reference-info {
        text-align: left;
    }

}

/*LargeStyles*/

@media screen and (min-width: 64em) {

    .about{
        padding: 100px 60px 40px 60px;
        
    }

    .references-title {
        min-height: auto;
    }

    .about-content {
        padding-right: 80px;
        padding-left: 40px;
        box-sizing: border-box;
    }

    .about-image img {
        width: 100%;
}
    .about-image{
        box-sizing: border-box;
        padding-right: 60px;
    }
    
    .references {
        padding: 0;
    }

    .references-title,
    .references {
        margin-top: 0;
    }
}