.contact{
    display:block;
    width: 100%;
}

.contact-content {
    letter-spacing: 0;
    padding: 0 20px;
}

.contact-title{
    text-align: center;
    font-family: 'Arvo', serif;
    color: #2F2F2D;
    font-size: 30px;
}


.wallpaper-info{
    text-align: center;
    font-size: 16px;
    color: #2F2F2D;
    font-family:'Arvo', serif;

}

.wallpaper-container{
    margin-top: 20px;
}


.wallpaper-list img{
    width:100%;
    margin-bottom: 10px;
}

.contact legend{
    text-align: center;
    font-family: 'Arvo', serif;
    color: #2F2F2D;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.contact fieldset{
    border: none;
    margin: 0;
    padding: 10px 0;
}

.contact input{
    width:100%;
    box-sizing: border-box;
    border: 2px solid #979797;
    background-color: #F8F8F8;
    padding: 5px 10px;
    height: 45px;
}

.wallpaper-inside{
    letter-spacing: 0;
}

textarea{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #979797;
    background-color: #F8F8F8;
    padding: 5px 10px;
    max-width: 100%;
    resize: none;
    height: 140px;
}

.contact input,
.contact textarea,
.contact button {
     font-family: 'Arvo', serif;
     font-size: 14px;
}


button {
    width: 100%;
    background-color: transparent;
    border: 2px solid #00FFAA;
    box-sizing: border-box;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
    font-weight: 700;
    height: 45px;
    margin-top: 10px;
}

/*Medium Styles*/

@media screen and (min-width: 35.5em) {

}

/*LargeStyles*/

@media screen and (min-width: 48em) {

}