.footer.pure-g {
    width: 100%;
    display: none;
}

.footer-info{
    background-color:#00FFAA;
    text-align: center;
    font-size: 12px;
    width: 100%;
    position: relative;
    padding:10px 0;
    background-image: url("../../img/background-footer.png");
    display: inline-block;
}

.footer-info p{
    margin: 5px 0;
}

.footer-networks{
    height: 50px;
    display:block;
    width: 100%;
    text-align: center;
}

.footer-networks a {
    float: left;
    background-repeat: no-repeat;
}

.footer-networks li {
    display: inline-block;
    margin: 10px;
}


.tumblr a{
    background-image: url("../../img/tumblr-icon.svg");
    width: 30px;
    height: 40px;
}

.dribbble a{
    background-image: url("../../img/dribbble-icon.svg");
    width: 40px;
    height: 40px;
}

.instagram a{
    background-image: url("../../img/instagram-icon.svg");
    width: 40px;
    height: 40px;
}

.soundcloud a{
    background-image: url("../../img/soundcloud-icon.svg");
    width: 60px;
    height: 30px;
}

.footer-info,
.footer-networks{
    letter-spacing: 0;
}



/*MediumStyles*/

@media screen and (min-width: 35.5em) {

    .footer.pure-g{
        display: flex;
        position: absolute;
        bottom: 0;
        background: none;
        flex-direction: row-reverse;
    }

    .footer a {
        color: #00FFAA;
    }

    .footer-info{
        text-align: left;
        background: none;
        padding-left: 10px;
        color: #00FFAA;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .footer-networks{
        text-align: right;
        padding-right: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .tumblr a{
        background-image: url("../../img/tumblr-icon-2.svg");
    }

    .dribbble a{
        background-image: url("../../img/dribbble-icon-2.svg");
    }

    .instagram a{
        background-image: url("../../img/instagram-icon-2.svg");
    }

    .soundcloud a{
        background-image: url("../../img/soundcloud-icon-2.svg");
    }

}


@media screen and (min-width: 48em) {

    .footer-info {
        padding-left: 40px;
    }

    .footer-networks {
        padding-right: 40px;
    }

}