.footer {
  
    width: 100%;
}

.footer-info{
    background-color:#00FFAA;
    text-align: center;
    font-size: 12px;
    width: 100%;
    position: relative;
    padding:10px 0;
    background-image: url("../../img/background-footer.png");
    display: inline-block;
  

}

.footer-info p{
    margin: 5px 0;



}

.footer-networks{
    height: 50px;
    display:block;
    width: 100%;
    text-align: center;

}

.footer-networks a {
    float: left;
    background-repeat: no-repeat;
}

.footer-networks li {
    display: inline-block;
    margin: 10px;
}


.tumblr a{
    background-image: url("../../img/tumblr-icon.svg");
    width: 30px;
    height: 40px;
    
}

.dribbble a{
    background-image: url("../../img/dribbble-icon.svg");
    width: 40px;
    height: 40px;
    
}

.instagram a{
    background-image: url("../../img/instagram-icon.svg");
    width: 40px;
    height: 40px;
   
}

.soundcloud a{
    background-image: url("../../img/soundcloud-icon.svg");
    width: 60px;
    height: 30px;
  
}