.header-logo.pure-u-1 {
    text-align: center;    
}


.header-logo .logo{
    background-image: url("../../img/logo.svg");
    width: 182px;
    height: 60px;
    float: left;
    background-size: 100%;
   }

.header-sm-icon {
    z-index: 2;
    margin: 20px;
    position: absolute;
    top: 20px;
    width: 38px !important;
    height: 38px;
    right: 0;
}


.header-sm-icon .icon {
    position: absolute;
    right: 10px;
    top: -25px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    border: 3px solid;
    color: #00FFAA;
    text-align: center;
}

.header-sm-icon .icon span {
    display: block;
    position: relative;
    right: 1px;
    height: 3px;
    width: 17px;
    border-radius: 5px;
    background-color: #00FFAA;
    margin: auto;
}

.header-sm-icon .icon .first {
    margin-top: 11px;
}

.header-sm-icon .icon .second {
    top: 3px;
}


.header-sm-icon .icon .last {
    top: 6px;
}


/*Medium Styles*/

@media screen and (min-width: 35.5em) {

.header{
    background-color: #2F2F2D;
    height: 127px;
}

.header-sm-icon {
    position: absolute;
    top: 20px;
    width: 38px !important;
    height: 38px;
    right: 10px;
}
.header-sm-icon .icon{
    left: auto;
    right: 0;
    top: 0;
}

.header-logo.pure-u-1 {
    display:flex;
    justify-content: center;
    padding-top: 35px;
}

}

/*LargeStyles*/

@media screen and (min-width: 64em) {

    .header-logo.pure-u-1 {
    display:inline-block;
    text-align: left;
    padding-top: 35px;
    padding-left: 40px;
    box-sizing: border-box;
}

    .nav-wrap .nav-item{
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    }

    .nav .nav-wrap {
        margin-top:45px;
        text-align: right;
        padding-right: 40px;
    }

    .nav-item .nav-anchor{
    width: 100%;
    padding: 5px;
    text-transform: none;
    letter-spacing: 2px;
    text-align: center;
 }
    .nav{
        text-align: right;
    }

}

