@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.header-logo.pure-u-1 {
    text-align: center;
}

.nav {
    display: flex !important;
    position: absolute;
    top: -100%;
    right: 0;
    background-color: rgba(0,0,0,.7);
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.nav .nav-wrap {
    width: 100%;
    box-sizing: border-box;
}


.onepage-pagination  {
    display: none;
}

/*When mainNav is open*/

.open .nav {
    width: 100%;
    right: 0;
    opacity: 1;
    top: 0;
    z-index: 2;
    overflow: auto;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    -webkit-animation:  fadeIn ease-in 1;
    -moz-animation:  fadeIn ease-in 1;
    -ms-animation:  fadeIn ease-in 1;
    -o-animation:  fadeIn ease-in 1;
    animation:  fadeIn ease-in 1;
    -webkit-animation-duration:1s ;
    -moz-animation-duration:1s ;
    -ms-animation-duration:1s ;
    -o-animation-duration:1s ;
    animation-duration:1s ;
}

.open {
    overflow-y: hidden;
}


.open .header-sm-icon .second {
    display: none;
}

.open .header .first {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open  .header .last {
    top: -3px !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open .header-sm-icon .icon {
    top: 10px;
}


/* end mainNav open */

.header-logo .logo{
    background-image: url("../../img/logo.svg");
    width: 182px;
    height: 60px;
    float: left;
    background-size: 100%;
   }

.header-sm-icon {
    z-index: 4;
    margin: 10px;
    position: absolute;
    top: 0;
    width: 38px !important;
    height: 38px;
    right: 0;
    cursor: pointer;
}


.header-sm-icon .icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    color: #00FFAA;
    text-align: center;
}

.header-sm-icon .icon span {
    display: block;
    position: relative;
    right: 1px;
    height: 3px;
    width: 22px;
    border-radius: 5px;
    background-color: #00FFAA;
    margin: auto;
    -webkit-transition: all.3s ease;
    -moz-transition: all.3s ease;
    -ms-transition: all.3s ease;
    -o-transition: all.3s ease;
    transition: all.3s ease;
}

.header-sm-icon .icon .first {
    margin-top: 11px;
}

.header-sm-icon .icon .second {
    top: 3px;
}


.header-sm-icon .icon .last {
    top: 6px;
}


/*Medium Styles*/

@media screen and (min-width: 35.5em) {

.header{
    background-color: #2F2F2D;
    height: 127px;
    position: relative;
    width: 100%;
    z-index: 4;
}

.viewing-page-1 .header {
    position: absolute;
    width: 100%;
    z-index: inherit;
}

.open .header {
    height: 100%;
}

.header-sm-icon {
    position: absolute;
    top: 20px;
    width: 38px !important;
    height: 38px;
    right: 10px;
}
.header-sm-icon .icon{
    left: auto;
    right: 0;
    top: 0;
}

.header-logo.pure-u-1 {
    display:flex;
    justify-content: center;
    padding-top: 35px;
    position: relative;
    z-index: 3;
    transition: all 1s ease-in-out;
}

}

/*LargeStyles*/

@media screen and (min-width: 64em) {

    .viewing-page-1 .header {
        position: absolute;
        width: 100%;
        z-index: inherit;
    }

    .header {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .header-logo.pure-u-1 {
        display:inline-block;
        text-align: left;
        padding-top: 35px;
        padding-left: 40px;
        box-sizing: border-box;
    }

    .nav-wrap .nav-item{
        display: inline-block;
        font-size: 20px;
        padding: 0 20px;
    }

    .nav .nav-wrap {
        margin-top:45px;
        text-align: right;
        padding-right: 40px;
    }

    .nav-item .nav-anchor {
        width: 100%;
        padding: 5px;
        text-transform: none;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: 0 2px 4px rgba(0,0,0, .8);
 }

    .nav-item .nav-anchor:hover {
        text-shadow: 0 0 0;
    }

    .onepage-pagination  {
        display: block;
    }

    .nav{
        text-align: right;
        opacity: 1;
        top: 0;
        position: relative;
        z-index: 3;
        background: none;
    }

}

