@import "modules/header.css";
@import "modules/footer.css";
@import "modules/pure.css";
@import "modules/grids-responsive.css";
@import "modules/nav.css";
@import "modules/works.css";
@import "modules/about.css";
@import "modules/contact.css";
@import "modules/font.css";
@import "modules/onepage-scroll.css";

* {
    box-sizing: border-box;
}

.hide-sm {
    display: none;
}

.hide-md {
    display: block;
}

.hide-sm-md{
    display: none;
}

.hide-sm-m {
    display: none;
}

.hide-lg{
    display:block;
}

.onepage-wrapper .section {
    overflow: hidden;
}

.scroll-down {
    position: fixed;
    bottom: 0;
}

body {
    overflow: auto;
}

@media screen and (min-width: 36.5em) {
    .hide-sm {
        display: block;
    }

    body {
        overflow:hidden;
    }

    .hide-md {
        display: none !important;
    }
}

@media screen and (min-width: 64em) {
    .hide-sm-m{
        display: block !important;
    }

    .hide-lg{
        display: none;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

body{
font-family: 'Lato', sans-serif;
background-image: url("../img/pattern.svg")
}

footer{
font-family: 'Arvo', serif;
}

.home {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/home-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    flex-direction: column;
}

.home:before {
    content: '';
    background-image: url('../img/pattern2-01.svg');
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: 10%;
}

.home h1 {
    font-size: 60px;
    margin: 0.67em 0;
    line-height: 95%;
    letter-spacing: -2px;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
    text-shadow: 2px 4px 4px rgba(0,0,0, 0.5);
    margin-bottom: 10px;
    font-family: 'Arvo', serif;
}

.home span {
    font-size: 18px;
    color: #00FFAA;
    text-align: center;
    font-family: 'Arvo', serif;
    font-style: italic;
    margin-top: 5px;
    width: 100%;
    display: block;
    position: relative;
    right: 17px;
}

.home h1:after, .home h1:before {
    content: '"';
    color: #00FFAA;
}

.home h1:before {
    position: relative;
    right: 10px;
}

.open .wrapp-home {
    visibility: hidden;
    opacity: 0;
}

.wrapp-home {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
}

.home span:after {
    content: ">>";
    color: white;
    margin-left: 5px;
}

.home span:before {
    content: "<<";
    color: white;
    margin-right: 5px;
}

/*Medium Styles*/

@media screen and (min-width: 35.5em) {
    .wrapp-home  {
        padding: 0;
    }

    .home h1 {
        font-size: 75px;
        font-size: 0 20px;
    }

    .home span {
        right: 0;
    }

    .onepage-wrapper .section {
        padding-bottom: 120px;
    }
}

/*Large Styles*/

@media screen and (min-width: 64em) {

    .home .wrapp-home {
        width: 805px;
    }
}

@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }


