@import "modules/header.css";
@import "modules/footer.css";
@import "modules/pure.css";
@import "modules/grids-responsive.css";
@import "modules/nav.css";
@import "modules/works.css";
@import "modules/about.css";
@import "modules/contact.css";


.hide-sm {
    display: none;
}

.hide-md {
    display: block;
}

.hide-sm-md{
    display: none;
}

.hide-sm-m {
    display: none;
}

.hide-lg{
    display:block;
}

@media screen and (min-width: 36.5em) {
    .hide-sm {
        display: block;
    }

    .hide-md {
        display: none !important;
    }
}

@media screen and (min-width: 48em) {
    .hide-sm-m{
        display: block !important;
    }

    .hide-lg{
        display: none;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

body{
font-family: 'Lato', sans-serif;
background-image: url("../img/pattern.svg")
}

footer{
font-family: 'Arvo', serif;
}

/*Medium Styles*/

@media screen and (min-width: 35.5em) {
}

/*Large Styles*/

@media screen and (min-width: 48em) {









}