@import "modules/header.css";
@import "modules/footer.css";
@import "modules/pure.css";
@import "modules/grids-responsive.css";
@import "modules/nav.css";
@import "modules/works.css";



.hide-sm {
    display: none;
}

.hide-md {
    display: block;
}

@media screen and (min-width: 36.5em) {
    .hide-sm {
        display: block;
    }

    .hide-md {
        display: none;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

body{
font-family: 'Lato', sans-serif;
}